.featured-companies {
    text-align: center;
    padding: 30px 0;
    background: transparent;
    margin-bottom: 30px;
    margin-top: 10px;
}

.section-title2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 138px;
    width: 83.6%;
}

.companies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1265px;
    margin: auto;
    margin-left: 140px;
}

.company-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.company-card:hover {
    transform: scale(1.05);
}

.company-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.company-card p {
    font-size: 14px;
    color: #555;
}

.company-card .company-location {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}


