/* Vùng topbar */
.topbar {
  background-color: #0073e6; /* Màu nền xanh */
  padding: 10px 20px;
  color: white;
  font-size: 14px;
}

/* Mỗi item (text, icon, link) trong topbar */
.topbar-item {
  margin-right: 15px;
  color: white;
}

/* Icon trong topbar */
.topbar-item .icon {
  margin-right: 5px;
}

/* Link trong topbar => hover chuyển màu vàng */
.topbar-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.topbar-item a:hover {
  color: #ffcc00; 
}

